<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://wwww.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{menu-lateral.html}">

<head>
</head>

<body>
<div layout:fragment="conteudo">
    <div>
        <br />
        <h1>Pedidos pendentes de separação:</h1>
        <br />
    </div>

    <div class="lista">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Nº do Pedido</th>
                <th scope="col">Data de Emissão</th>
                <th scope="col">Fornecedor</th>
                <th scope="col">Tipo</th>
                <th scope="col">Status</th>
                <th scope="col">Nº de produtos</th>
                <th scope="col">Volumes</th>
                <th scope="col">Ações</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="pedidoAberto : ${listaPedidosAbertosDTO}">
                <td th:text="${pedidoAberto.nrPedido}"></td>
                <td th:text="${pedidoAberto.getDtHrEmissaoFormatada()}"></td>
                <td th:text="${pedidoAberto.empresaDTO.razaoSocial}"></td>
                <td th:text="${pedidoAberto.tipoPedido}"></td>
                <td th:text="${pedidoAberto.statusPedido}"></td>
                <td th:text="${pedidoAberto.produtosDTO.size()}"></td>
                <td th:text="${pedidoAberto.getQtdeVolumes()}"></td>
                <td>
                    <a th:href="@{/separacao/formulario?nrPedido={nrPedido} (nrPedido=${pedidoAberto.nrPedido}) }">Iniciar</a>
                </td>
            <tr th:if="${#lists.isEmpty(listaPedidosAbertosDTO)}">
                <td colspan="8">Vazio.</td>
            </tr>
            </tr>
            </tbody>
        </table>
    </div>

    <div>
        <br />
        <h1>Pedidos concluídos:</h1>
        <br />
    </div>

    <div class="lista">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Nº do Pedido</th>
                <th scope="col">Data de Emissão</th>
                <th scope="col">Fornecedor</th>
                <th scope="col">Tipo</th>
                <th scope="col">Status</th>
                <th scope="col">Nº de produtos</th>
                <th scope="col">Volumes</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="pedido : ${listaPedidosSeparadosDTO}" th:if="${not #lists.isEmpty(listaPedidosSeparadosDTO)}">
                <td th:text="${pedido.nrPedido}"></td>
                <td th:text="${pedido.getDtHrEmissaoFormatada()}"></td>
                <td th:text="${pedido.empresaDTO.razaoSocial}"></td>
                <td th:text="${pedido.tipoPedido}"></td>
                <td th:text="${pedido.statusPedido}"></td>
                <td th:text="${pedido.produtosDTO.size()}"></td>
                <td th:text="${pedido.getQtdeVolumes()}"></td>
            </tr>
            <tr th:if="${#lists.isEmpty(listaPedidosSeparadosDTO)}">
                <td colspan="7">Vazio.</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
</body>
</html>