<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://wwww.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{menu-lateral.html}">

<head>
</head>

<body>
<div layout:fragment="conteudo">
    <br />
    <h3>Cadastro de endereços</h3>
    <div class="form-pequeno">
        <form method="post" th:action="@{/endereco/cadastrar}">

            <input type="hidden" name="id" th:value="${enderecoDTO?.id}" />
            <input type="hidden" name="_method" value="put" th:if="${enderecoDTO != null}">

            <div class="mb-3">
                <label for="nrRua" class="form-label">Número da rua:</label>
                <input id="nrRua" name="nrRua" class="form-control" th:value="${enderecoDTO?.nrRua}" />
            </div>

            <div class="mb-3">
                <label for="nrPredio" class="form-label">Número do prédio:</label>
                <input id="nrPredio" name="nrPredio" class="form-control" th:value="${enderecoDTO?.nrPredio}" />
            </div>

            <div class="mb-3">
                <label for="nrApartamento" class="form-label">Número do apartamento:</label>
                <input id="nrApartamento" name="nrApartamento" class="form-control" th:value="${enderecoDTO?.nrApartamento}" />
            </div>

            <input type="submit" class="btn btn-primary" value="Cadastrar" th:if="${enderecoDTO == null}" />
            <input type="submit" class="btn btn-primary" value="Salvar" th:if="${enderecoDTO != null}" />
        </form>
    </div>

    <br />
    <h3>Endereços cadastrados</h3>
    <br />

    <div class="lista endereco">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Rua</th>
                    <th scope="col">Prédio</th>
                    <th scope="col">Apartamento</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="endereco : ${listaDTO}">
                    <td th:text="${endereco.id}"></td>
                    <td th:text="${endereco.nrRua}"></td>
                    <td th:text="${endereco.nrPredio}"></td>
                    <td th:text="${endereco.nrApartamento}"></td>
                    <td>
                        <a th:href="@{/endereco/formulario?id={id}(id=${endereco.id}) }">Editar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>