<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://wwww.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">

    <head>
    </head>

    <body>
        <div layout:fragment="conteudo">
            <form method="get" th:action="@{/produto/formulario}">
                <input type="submit" class="btn btn-primary" value="Cad. Produtos" />
            </form>
            <br />
            <form method="get" th:action="@{/empresa/formulario}">
                <input type="submit" class="btn btn-primary" value="Cad. Empresas" />
            </form>
            <br />
            <form method="get" th:action="@{/pessoa/formulario}">
                <input type="submit" class="btn btn-primary" value="Cad. Pessoas" />
            </form>
            <br />
            <form method="get" th:action="@{/endereco/formulario}">
                <input type="submit" class="btn btn-primary" value="Cad. Endereços" />
            </form>
        </div>
    </body>
</html>