<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
    <body>
        <h1></h1>
        <br />

        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Descrição</th>
                    <th>EAN13</th>
                    <th>DUN14</th>
                    <th>Fator de caixa</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="produto : ${listaDTO}">
                    <td th:text="${produto.id}"></td>
                    <td th:text="${produto.descricao}"></td>
                    <td th:text="${produto.nrEan13}"></td>
                    <td th:text="${produto.nrDun14}"></td>
                    <td th:text="${produto.fatorCaixa}"></td>
                </tr>
            </tbody>
        </table>

        <form method="get" th:action="@{/teste/teste-cadastro-produto}" />
        <input type="submit" value="Retornar" />
    </body>
</html>