<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://wwww.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">

    <head>
    </head>

    <body>
        <div layout:fragment="conteudo">
            <h1>Lista de empresas</h1>
            <br />
            <table>
                <thead>
                    <tr>
                        <th>CNPJ</th>
                        <th>Razão Social</th>
                        <th>E-mail</th>
                        <th>Telefone</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="empresaDTO : ${listaDTO}">
                        <td th:text="${empresaDTO.nrCnpj}"></td>
                        <td th:text="${empresaDTO.razaoSocial}"></td>
                        <td th:text="${empresaDTO.email}"></td>
                        <td th:text="${empresaDTO.nrTelefone}"></td>
                        <td>
                            <a th:href="@{/empresa/formulario?id={id}(id=${empresaDTO.id}) }">Editar</a>
                        </td>
                    </tr>
                    <td>
                        <br />
                    </td>
                    <tr>
                        <td>
                            <form method="get" th:action="@{/empresa/formulario}">
                                <input type="submit" value="Retornar" />
                            </form>
                        </td>
                        <td>
                            <form method="get" th:action="@{/}">
                                <input type="submit" value="Tela inicial" />
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>