<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://wwww.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">

    <head>
    </head>

    <body>
        <div layout:fragment="conteudo">
            <h1>Pessoas cadastradas</h1>
            <br />

            <table>
                <thead>
                    <tr>
                        <th>Nome completo</th>
                        <th>CPF</th>
                        <th>Data de Nascimento</th>
                        <th>E-mail</th>
                        <th>Telefone</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="pessoaDTO : ${listaDTO}">
                        <td th:text="${pessoaDTO.nome}"></td>
                        <td th:text="${pessoaDTO.nrCpf}"></td>
                        <td th:text="${pessoaDTO.dtNascimento}"></td>
                        <td th:text="${pessoaDTO.email}"></td>
                        <td th:text="${pessoaDTO.nrTelefone}"></td>
                        <td>
                            <a th:href="@{/pessoa/formulario?id={id}(id=${pessoaDTO.id}) }">Editar</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <br />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form method="get" th:action="@{/pessoa/formulario}">
                                <input type="submit" value="Retornar" />
                            </form>
                        </td>
                        <td>
                            <form method="get" th:action="@{/}">
                                <input type="submit" value="Tela inicial" />
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>